@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

body {
    background-color:#3d88cf;
    padding:0px;
    margin:0px;
}
/* --------------------------------Text Styles*/

h1, h2, h3, h4 {
    text-transform: uppercase;
}

.display-1 {
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    font-size: 120px;
    padding-bottom: 0px;
    font-weight: bold;
}

.display-4 {
    color: #fafafa;
    text-align: center;
    font-size: 50px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-style: italic;
}

.callout {
    font-weight: 900;
}

.album-title {
    font-size: 30px;
    font-weight: 900;
    color: #000000;
}

.title {
    font-family: "sans-serif";
    color:#fafafa;
    font-size: 1.5em;
}

.quote {
    color: #fafafa !important;
}

.page-title {
    color: #fafafa;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 400%;
    font-weight: bolder;
}

.general-callout {
    color: #fafafa;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2em;
}

.repeat-subscribe-advert {
    color: #fafafa;
    text-align: right;
    padding-bottom: 0px;
}

.repeat-submit-button {
    background-color: #000000;
    color: #fafafa;
    text-transform: uppercase;
    font-weight: bolder;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*------------------------------------Images*/

.hero-image {
    background: url("../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    max-width: 100%;
    height: auto;
    
}

.album-cover{
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}

.header {
    background: url("../images/hero.jpg");
    margin-bottom: 0px;
    margin-top: 0px;
    min-width: 100%;
    height: 400px;
    position: top;
}
/*------------------------------------Containers Styles*/

.container {
    background-color:#3d88cf;
    min-width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

.header-landing h1 {
    padding: 0px;
    margin: 0px;
}

.container-fluid {
    background-color:#3d88cf;
    padding-top: 40px ;
    padding-bottom: 40px;
    min-height: 150px;
    margin: auto;
}

.general-container {
    padding-top: 40px ;
    padding-bottom: 40px;
    min-height: 150px;
    margin: auto;
}

.general-center {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 40px;
}

.center {
    margin: auto;
    width: 50%;
    border: 0px solid #000000;
    background-color: #3d88cf;
    color: #000000;
    padding: 10px;
    text-align: center;
    padding-top: 20px;
}

.nav {
    padding-top:0px;
    padding-bottom: 0px;
    margin: auto;
}

.nav-link {
    color: #fafafa;
    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
}

.main-title {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 46px;
    margin-top: 50px;
    color: #fafafa;
}

.center-form {
    margin: auto;
    width: 70%;
    text-align: center;
}

.center-footer {
    margin: auto;
    width: 100%;
    text-align: center;
}

.top-right {
    width: 35%;
   position:absolute;
   top:0;
   right:0;
   margin-top: 40px;
   margin-right: 40px;
   opacity: 1;
   text-align: center;
}

.background-purple {
    background-color: #7b68ee;
    min-height: 300px;
}

.mailing-list-advert {
    min-height: 150px;
    width: 100%;
    background-color: #000000;
}

.signup-promo {
    color: #fafafa;
    text-transform: uppercase;
    clear: both;
    float: left;
    text-align: center;
    padding-top: 40px;
    padding-left: 50px;

}
/*--------------------------------------------------Buttons and Forms*/

.content-button {
max-width: 30%;
padding-top: 40px;
}

.alert {
    background-color: #000000;
    border-color: #000000;
    border-radius: 0px;
    color: #000000;
}

.content-button .alert a {
    color: #3d88cf;
}

.form-inline {
    padding-bottom: 40px;
}

.landing-page-cob {
    background-color: #3d88cf;
    border-width: medium;
    border-color: #000000;
}

.subscribe-btn {
   position: relative; 
   padding-bottom: 40px;
}

.btn-black {
    color: #000000 !important;
    font-weight: bolder;
    text-transform: uppercase;
}

.right-form {
    padding-top: 40px;
    padding-right: 50px;
    margin: auto;
    width: 50%;
    text-align: right;
    float: right;
}

.terms {
    color: #000000 !important;
    font-weight: 30px;
    font-size: 10px;
    font-weight: bold;
}

.repeat-terms {
    color: #fafafa !important;
    font-weight: 25px;
    font-size: 10px;
    font-weight: bold;
    float: right;
    padding-bottom: 0px;
    padding-top: 0px;
}


.fa {
    size: 40px;
}

/*--------------------------------------------------About Me*/

.about-section {
    margin: 0px;
}

.footer {
    background-color:#808080 ;
    text-align: center;
}

.btn {
    color: #fafafa;
}